<%= @user.first_name %>
<%= @user.last_name %>

<h1> Hosted Events: <h1>
<h4><% @user.events.each do |e| %></h4>
<h2> Description: <%= e.description %> </h1>
<h4> Date: <%= e.date %> </h4>
<% end %>


<h1>Upcoming:</h1>

<h4>Upcoming Events : <%= @user.events.upcoming_events.each do |e| %></h4>
<h2> Description: <%= e.description %> </h1>
<h4> Date: <%= e.date %> </h4>
<% end %>

<h1>Previously Attended:</h1>

<h4>Events Attended : <%= @user.events.prev_events.each do |e| %></h4>
<h2> Description: <%= e.description %> </h1>
<h4> Date: <%= e.date %> </h4>
<% end %>